#table_menu {
  display: none;
  color: #DDD;
  font-size: 14px;
  font-family: Verdana, Arial;
  text-weight: bold;
  background-color: #434;
  border-radius: 10px;
  border: 10px groove #DDD;
  position: absolute;
  z-index: 100; 
}

#table_menu td {
  text-align: center;
}

INPUT {
  font-family: Verdana, Arial;
  text-weight: bold;
  border-radius: 5px;
  border: 3px groove #DDD;
  text-align: center;
  height: 30px;
}

INPUT:hover {
  background-color: #FFF;
}

#input_name {
  font-family: Verdana, Arial;
  text-weight: bold;
  border-radius: 5px;
  border: 1px groove #DDD;
  height: 30px;
  width: 250px;
  margin: 20px 30px;
}

.img_racer {
  padding: 10px;
  border-radius: 5px;
  background-color: #222;
  border: 3px groove #AAA;
  margin: 10px 10px;
  cursor: pointer;
}

.img_racer:hover, .img_racer_choise {
  border: 3px groove #FFF;
}

.table_maps {
  display: none;
  width: 300px;
  color: #AAA;
  font-size: 12px;
  font-family: Verdana, Arial;
  text-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 3px groove #AAA;
  margin: 10px 30px;
  cursor: pointer;
}

.table_maps:hover, .table_maps_choise {
  color: #FFF;
  border: 3px groove #FFF;
}

.choise_maps_name {
  width: 150px;
  font-size: 14px;
  padding: 3px;
  border-right: 2px solid #DDD;
}

.choise_maps_user {
  padding: 5px;
  font-size: 12px,
}

.choise_maps_user_2 {
  padding: 3px;
  font-size: 8px;
}



#td_controls{
  text-align: left;
  padding: 10px;
  border-left: 2px solid #DDD;
}

#td_controls div {
  width: 200px;
  text-align: left
}

a {
  color: #DDD;
  font-size: 12px;
  font-family: Verdana, Arial;
  text-weight: bold;    
}

#td_maps_collection div {
  height: 150px;
  overflow-y: auto;
}

#div_menu {
  color: #DDD;
  border-radius: 10px;
  border: 10px groove #DDD;
  position: absolute;
  z-index: 100; 
  display: none;
  width: 150px;
  padding: 5px auto;
  background-color: #434;
        
}

#div_menu input {
  width: 130px;
  margin: 5px 10px;
}

#div_popup, #div_popup_finish{
  color: #DDD;
  position: absolute;
  display: none;
  z-index: 100;
  background-color: #434;
  font-size: 20px;
  font-family: Verdana, Arial;
  text-weight: bold;
  text-align: center;
  padding: 10px;
}

#div_popup_finish {
  text-align: center;
  border-radius: 10px;
  border: 10px groove #DDD;
  width: 400px;
  padding: 10px;
}

#div_popup_finish span {
  font-size: 20px;
}

#div_popup_finish div {
  font-size: 16px;
  width: 380px;
  padding: 10px;
}
